.header_container{
   width: 100%;
   height: 70px;
   background-color: #1e3a84;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header_logo_cyje{
   height: 90%;
   margin-left: 10px;
}

.header_menu{
   display: flex;
   gap: 50px;
   margin-right: 50px;
   font-size: 18px;
   color: white;
   font-family: Poppins;
}

.header-icon-open-drawer{
   color:white !important;
}

@media (min-width: 650px){
   .header-icon-open-drawer{
      display: none !important;
   }
}

@media (max-width: 650px){
   .header_menu{
      display: none;
   }

   .header-icon-open-drawer{
      display: block;
   }
}

.drawer_logo_cyje{
   height: auto;
   width: 100%;
   margin-bottom: 20px;
}

.header-drawer{
   background-color: #1e3a84;
   height: 100%;
}

.header_menu a, .header-drawer a{
   text-decoration: none;
}

.header_link {
   color: white; 
 }
 
 .header_link.active {
   color: #eda02c; /* quand le lien est actif */
 }