@font-face {
  font-family: 'Anton';
  src: url('../assets/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('../assets/fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width:100%;
  min-height: 100vh;
}
html{
  min-height: 100%;
}

.login-layout, .main-layout{
  height: 100%;
  width:100%;
  min-height: 100vh;
}

.main-layout{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-layout .white-container{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#root{
  height: 100%;
  width:100%;
  min-height: 100vh;
}

h2{
  font-family: Poppins;
  color: #1e3a84;
}

h3{
  font-family: Poppins;
}

p{
  margin:0;
  font-family: 'Barlow Semi Condensed';
}